In [1]:
import pandas as pd

In [37]:
# Load the locations and reviews CSV files
locations_df = pd.read_csv("C:\\Users\\AKHNA\\Desktop\\MCA\\Smart-Tour-Guide\\locations.csv")
reviews_df = pd.read_csv(r"C:\\Users\\AKHNA\\Downloads\\Review_db.csv\\Review_db.csv")

# Display the first few rows to check structure
print("Locations:")
print(locations_df.head())
print("\nReviews:")
print(reviews_df.head())

Locations:
   l_id  State   City                  Name   Significance          Type  \
0     0  Delhi  Delhi            India Gate     Historical  War Memorial
1     1  Delhi  Delhi        Humayun's Tomb     Historical          Tomb
2     2  Delhi  Delhi     Akshardham Temple      Religious        Temple
3     3  Delhi  Delhi  Waste to Wonder Park  Environmental    Theme Park
4     4  Delhi  Delhi         Jantar Mantar     Scientific   Observatory

   Google review rating Airport with 50km Radius Best Time to visit
0                   4.6                      Yes            Evening
1                   4.5                      Yes          Afternoon
2                   4.6                      Yes          Afternoon
3                   4.1                      Yes            Evening
4                   4.2                      Yes            Morning

Reviews:
                City            Place  \
0  Aamby Valley City  19 Degree North
1  Aamby Valley City  19 Degree North
2  Aamby Valley City  19 Degree North
3  Aamby Valley City  19 Degree North
4  Aamby Valley City  19 Degree North

                                              Review  Rating       Name  Date  \
0  aamby valley beautiful place clear blue skies ...       5  Anonymous   NaN
1  executed obt akshay thanx team thoroughly enjo...       4  Anonymous   NaN
2  awesome experience atv tracts obstacles mainta...       5  Anonymous   NaN
3  visited aamby valley yesterday short excursion...       4  Anonymous   NaN
4  far mumbai place finest adventure places visit...       5  Anonymous   NaN

                                          Raw_Review
0  Aamby valley is a beautiful place with its cle...
1  Very well executed obt by Akshay.... Thanx as ...
2  Awesome experience at the ATV\nTracts and obst...
3  we visited the Aamby Valley yesterday for shor...
4  Not far from Mumbai, this place is one of the ...

In [13]:
# Get the list of unique cities from locations.csv
cities = locations_df['City'].unique().tolist()
print("List of cities to search for:", cities)

List of cities to search for: ['Delhi', 'Mumbai', 'Lonavala', 'Bangalore', 'Hyderabad', 'Kolkata', 'Goa', 'Ahmedabad', 'Dwarka', 'Junagadh', 'Bhuj', 'Vadodara', 'Somnath', 'Rann of Kutch', 'Kevadia', 'Gandhinagar', 'Jaipur', 'Udaipur', 'Jaisalmer', 'Sawai Madhopur', 'Pushkar', 'Ajmer', 'Jodhpur', 'Chittorgarh', 'Mount Abu', 'Bikaner', 'Amritsar', 'Chandigarh', 'Alappuzha', 'Munnar', 'Kochi', 'Thiruvananthapuram', 'Kozhikode', 'Wayanad', 'Thekkady', 'Kumarakom', 'Varkala', 'Bekal', 'Kovalam', 'Kannur', 'Nelliyampathy', 'Mysore', 'Hampi', 'Coorg', 'Gokarna', 'Chikmagalur', 'Badami', 'Shivamogga', 'Mangalore', 'Murudeshwar', 'Bijapur', 'Bandipur', 'Halebidu', 'Pune', 'Aurangabad', 'Nashik', 'Shirdi', 'Alibaug', 'Ratnagiri', 'Nagpur', 'Kolhapur', 'Tarkarli', 'Satara', 'Matheran', 'Ajanta', 'Khajuraho', 'Bhopal', 'Indore', 'Gwalior', 'Ujjain', 'Jabalpur', 'Pachmarhi', 'Kanha', 'Bandhavgarh', 'Orchha', 'Mandu', 'Bhimbetka', 'Amarkantak', 'Chitrakoot', 'Shimla', 'Manali', 'dalhousie', 'Dalhousie', 'Spiti Valley', 'Kullu', 'Chamba', 'Kinnaur', 'Kangra', 'Palampur', 'Mandi', 'Bir Billing', 'McLeod Ganj', 'Manikaran', 'Narkanda', 'Barot', 'Shoja', 'Kufri', 'Nainital', 'Rishikesh', 'Haridwar', 'Dehradun', 'Mussoorie', 'Auli', 'Badrinath', 'Almora', 'Ranikhet', 'Jim Corbett', 'Uttarkashi', 'Chopta', 'Joshimath', 'Agra', 'Varanasi', 'Lucknow', 'Mathura', 'Ayodhya', 'Vrindavan', 'Allahabad', 'Jhansi', 'Sarnath', 'Fatehpur Sikri', 'Noida', 'Aligarh', 'Meerut', 'Kanpur', 'Srinagar', 'Leh', 'Pahalgam', 'Jammu', 'Udhampur', 'Anantnag', 'Nubra Valley', 'Kargil', 'Diskit', 'Kishtwar', 'Hemis', 'Dras', 'Porbandar', 'Darjeeling', 'Siliguri', 'Sundarbans', 'Digha', 'Murshidabad', 'Bolpur', 'Hooghly', 'Jalpaiguri', 'Cooch Behar', 'Purulia', 'Puri', 'Konark', 'Bhubaneswar', 'Rourkela', 'Cuttack', 'Sambalpur', 'Chilika', 'Berhampur', 'Keonjhar', 'Balasore', 'Kendujhar', 'Chennai', 'Madurai', 'Rameswaram', 'Kanyakumari', 'Ooty', 'Coimbatore', 'Kodaikanal', 'Thanjavur', 'Mahabalipuram', 'Yercaud', 'Tirunelveli', 'Chidambaram', 'Vijayawada', 'Visakhapatnam', 'Srisailam', 'Rajahmundry', 'Anantapur', 'Kurnool', 'Amravati', 'Guntur', 'Kadapa', 'Puttaparthi', 'Vizianagaram', 'Gangtok', 'Pelling', 'Namchi', 'Ravangla', 'Guwahati', 'Kaziranga', 'Sivasagar', 'Majuli', 'Manas', 'Hajo', 'Tawang', 'Agartala', 'Dumboor', 'Unakoti', 'Bastar', 'Dz√ºkou Valley', 'Puducherry', 'Auroville', 'Port Blair', 'Havelock Island', 'Neil Island', 'Baratang Island', 'Diu', 'Deoghar', 'Ranchi', 'Bodh Gaya', 'Patna', 'Gurugram', 'New Delhi', 'Kedarnath', 'Greater Noida', 'Bengaluru', 'Cherrapunji']

In [47]:
# Filter reviews based on the list of cities
filtered_reviews = reviews_df[reviews_df['City'].isin(cities)][['City', 'Rating', 'Raw_Review']]

# Group by City and take the first 5 reviews for each city
limited_reviews = filtered_reviews.groupby('City').head(5)

# Display the limited reviews
print("\nLimited Reviews:")
print(limited_reviews)

Limited Reviews:
             City  Rating                                         Raw_Review
1239     Agartala       5  Nice park in khowai dist of Tripura. You can c...
1240     Agartala       5  One of the good places to visit in town on a s...
1241     Agartala       4  In the heart of the city this Hindu temple is ...
1252     Agartala       4  You will only see a temple Nothing else to wat...
1253     Agartala       4  14 goddess temple is is one of the tourist and...
...           ...     ...                                                ...
1478103   Yercaud       3  Must visit this road if you're driving to Yerc...
1478104   Yercaud       5  it was a beautiful foggy night ride up to yerc...
1478105   Yercaud       5  We hired a taxi specifically to see this loop ...
1478106   Yercaud       5  The 32km loop road is a beautiful and amazing ...
1478107   Yercaud       5  Great adventure picturesque hilly scenic valle...

[861 rows x 3 columns]

In [ ]:

output_file_path = 'C:\\Users\\AKHNA\\Desktop\\MCA\\Smart-Tour-Guide\\reviews.csv'
limited_reviews.to_csv(output_file_path, index=False)

print(f"Limited reviews have been saved to '{output_file_path}'")

Limited reviews have been saved to 'C:\Users\AKHNA\Desktop\MCA\Smart-Tour-Guide\reviews.csv'

In [57]:
# Count the number of unique cities
unique_cities_count = reviews_df['City'].nunique()

# Display the number of unique cities
print(f"Number of unique cities in the CSV: {unique_cities_count}")

Number of unique cities in the CSV: 1794

In [3]:
import pandas as pd
import numpy as np

In [5]:
# Load the CSV files
locations_df = pd.read_csv('locations.csv')
reviews_df = pd.read_csv('rating_reviews.csv')

In [13]:
# Assuming 'locations.csv' has a column 'location_name' for merging with 'reviews.csv'
# Merge the DataFrames on the appropriate column(s)
merged_df = reviews_df.merge(locations_df[['City', 'l_id']], on='City')

In [15]:
# Generate unique r_id (7-digit) for each review
# Ensure uniqueness
def generate_unique_r_id(existing_ids):
    while True:
        new_id = np.random.randint(1000000, 9999999)  # Generate a random 7-digit number
        if new_id not in existing_ids:
            return new_id

# Create a list to store the new r_ids
existing_r_ids = set()  # Store existing r_ids to ensure uniqueness
r_ids = []

for _ in range(len(merged_df)):
    new_r_id = generate_unique_r_id(existing_r_ids)
    r_ids.append(new_r_id)
    existing_r_ids.add(new_r_id)

# Add the new r_id column to the merged DataFrame
merged_df['r_id'] = r_ids

In [17]:
# Assign tourist IDs (t_ids) to each review
t_ids = [24132, 10677, 53783, 42928, 33564]
merged_df['t_id'] = np.tile(t_ids, len(merged_df) // len(t_ids) + 1)[:len(merged_df)]

# Display the resulting DataFrame
print(merged_df)

# Save the result to a new CSV file
merged_df.to_csv('updated_reviews.csv', index=False)

          City  Rating                                         Raw_Review  \
0     Agartala       5  Nice park in khowai dist of Tripura. You can c...
1     Agartala       5  One of the good places to visit in town on a s...
2     Agartala       4  In the heart of the city this Hindu temple is ...
3     Agartala       4  You will only see a temple Nothing else to wat...
4     Agartala       4  14 goddess temple is is one of the tourist and...
...        ...     ...                                                ...
1186   Yercaud       3  Must visit this road if you're driving to Yerc...
1187   Yercaud       5  it was a beautiful foggy night ride up to yerc...
1188   Yercaud       5  We hired a taxi specifically to see this loop ...
1189   Yercaud       5  The 32km loop road is a beautiful and amazing ...
1190   Yercaud       5  Great adventure picturesque hilly scenic valle...

      l_id     r_id   t_id
0      282  3190647  24132
1      282  7990656  10677
2      282  6356277  53783
3      282  5473662  42928
4      282  6789652  33564
...    ...      ...    ...
1186   245  7669910  10677
1187   245  4503014  53783
1188   245  2326737  42928
1189   245  1323096  33564
1190   245  6913560  24132

[1191 rows x 6 columns]

In [23]:
import pandas as pd

# Step 1: Read the CSV file
df = pd.read_csv('updated_reviews.csv')  # Replace with your actual file path

# Step 2: Remove rows with duplicate values in the 'review' column
# This will keep the first occurrence and remove subsequent duplicates
df_cleaned = df.drop_duplicates(subset='Review', keep='first')  # or use keep='last' to keep the last occurrence

# Step 3: Save the cleaned DataFrame to a new CSV file (optional)
df_cleaned.to_csv('cleaned_reviews.csv', index=False)

# Display the cleaned DataFrame
print(df_cleaned)

         r_id   t_id  l_id      City  Rating  \
0     3190647  24132   282  Agartala       5
1     7990656  10677   282  Agartala       5
2     6356277  53783   282  Agartala       4
3     5473662  42928   282  Agartala       4
4     6789652  33564   282  Agartala       4
...       ...    ...   ...       ...     ...
1186  7669910  10677   245   Yercaud       3
1187  4503014  53783   245   Yercaud       5
1188  2326737  42928   245   Yercaud       5
1189  1323096  33564   245   Yercaud       5
1190  6913560  24132   245   Yercaud       5

                                                 Review  Unnamed: 6 Unnamed: 7
0     Nice park in khowai dist of Tripura. You can c...         NaN        NaN
1     One of the good places to visit in town on a s...         NaN        NaN
2     In the heart of the city this Hindu temple is ...         NaN        NaN
3     You will only see a temple Nothing else to wat...         NaN        NaN
4     14 goddess temple is is one of the tourist and...         NaN        NaN
...                                                 ...         ...        ...
1186  Must visit this road if you're driving to Yerc...         NaN        NaN
1187  it was a beautiful foggy night ride up to yerc...         NaN        NaN
1188  We hired a taxi specifically to see this loop ...         NaN        NaN
1189  The 32km loop road is a beautiful and amazing ...         NaN        NaN
1190  Great adventure picturesque hilly scenic valle...         NaN        NaN

[859 rows x 8 columns]